@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
   --primary-color: #262626;
   --secondary-color: #dc7d4a;
   --screen-bg: #f3f0ec;
   --light-bg-color: #eae5dc;
   --input-color: #f3f0ec;
}

*,
body {
   scroll-behavior: smooth;
}

body {
   font-size: 14px;
   font-family: "Inter", sans-serif;
   background: var(--screen-bg);
   color: var(--primary-color);
   min-height: 100vh;
}

.page-not-found {
   min-height: calc(100vh - 98px);
}

/* Media Queries */
@media only screen and (max-width: 640px) {
   .page-not-found {
      min-height: calc(100vh - 90px);
   }
}
